@use '../styles/_reset'

.header
    display: flex
    align-items: center
    justify-content: center
    gap: 15px
    width: 100dvw

    h1
        color: #444444
        

    

svg
    height: 2em
    width: 2em
    stroke-width: 2.5
    color: #444444