@use 'reset'
@use 'variables' as var

body
    background: linear-gradient(288deg, rgba(255, 255, 255, 1) 0%, rgba(251, 248, 63, 0.43) 26%, rgba(182, 70, 252, 0.3) 50%, rgba(255, 255, 255, 1) 100%);

#root
    display: flex
    flex-direction: column
    align-items: center
    height: 100svh
    width: 100svw
    padding: 40px